<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <title>Hostels</title>
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.1.3/css/bootstrap.min.css">
</head>
<body>
<div class="container">
    <h1 class="my-5">Hostels</h1>
    <table class="table table-striped">
        <thead>
        <tr>
            <th>ID</th>
            <th>Name</th>
            <th>Address</th>
            <th>Number of Beds</th>
            <th>Owner</th>
            <th>Image</th>
            <th></th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="hostel : ${hostels}">
            <td th:text="${hostel.id}"></td>
            <td th:text="${hostel.name}"></td>
            <td th:text="${hostel.address}"></td>
            <td th:text="${hostel.numberOfBeds}"></td>
            <td th:text="${hostel.owner.fio}"></td>
            <td>
                <img th:if="${!hostel.imageList.isEmpty()}" th:src="@{/images/{id}(id=${hostel.imageList.get(0).id})}" width="50" height="50" alt="image">
            </td>
            <td>
                <a class="btn btn-sm btn-primary" th:href="@{/hostels/edit/{id}(id=${hostel.id})}">Edit</a>
                <a class="btn btn-sm btn-danger" th:href="@{/hostels/delete/{id}(id=${hostel.id})}">Delete</a>
            </td>
        </tr>
        </tbody>
    </table>
    <a sec:authorize="hasAnyRole('ROLE_ADMIN', 'ROLE_OWNER')" class="btn btn-primary" href="/hostels/new">New Hostel</a>
</div>
<!-- Bootstrap JS -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.1.3/js/bootstrap.bundle.min.js"></script>
</body>
</html>
