<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:insert="fragments/main.html :: head"><title>Creating hostel</title></head>
<body>
<header th:insert="fragments/main.html :: header"></header>
<main id="main">
    <!-- ======= Breadcrumbs ======= -->
    <div class="breadcrumbs">
        <div class="container">
            <div class="d-flex justify-content-center align-items-center">
                <h2>[[#{hostel}]]</h2>
            </div>
        </div>
    </div><!-- End Breadcrumbs -->
    <section class="inner-page">
        <div class="container" data-aos="fade-up">
            <div class="row">
                <div class="col">
                    <form action="/hostels/new" method="post" enctype="multipart/form-data" th:object="${hostel}">
                        <div class="row">
                            <div class="col">
                                <div class="form-group mb-3">
                                    <label for="name">[[#{title}]]:</label>
                                    <input type="text" class="form-control" id="name" name="name" required th:field="*{name}">
                                </div>
                                <div class="form-group mb-3">
                                    <label for="address">[[#{address1}]]:</label>
                                    <input type="text" class="form-control" id="address" name="address" required
                                           th:field="*{address}">
                                </div>
                                <div class="form-group mb-3">
                                    <label for="numberOfBeds">[[#{number_of_beds}]]:</label>
                                    <input type="number" class="form-control" id="numberOfBeds" name="numberOfBeds" required
                                           th:field="*{numberOfBeds}">
                                </div>
                                <div class="form-group mb-3">
                                    <label for="pricePerDay">[[#{price_per_day}]]:</label>
                                    <input type="number" class="form-control" id="pricePerDay" name="pricePerDay" required
                                           th:field="*{pricePerDay}">
                                </div>
                                <div class="form-group mb-3">
                                    <label for="pricePerMonth">[[#{price_per_month}]]:</label>
                                    <input type="number" class="form-control" id="pricePerMonth" name="pricePerMonth" required
                                           th:field="*{pricePerMonth}">
                                </div>
                                <div class="form-group mb-3">
                                    <label for="discount">[[#{discount}]]:</label>
                                    <input type="number" class="form-control" id="discount" name="discount" required
                                           th:field="*{discount}">
                                </div>
                                <button type="submit" class="btn btn-primary">[[#{save}]]</button>
                            </div>
                            <div class="col">
                                <div class="form-group mb-3">
                                    <label for="description">[[#{description}]]:</label>
                                    <textarea class="form-control" name="description" id="description" cols="30" rows="10" th:field="*{description}" required></textarea>
                                </div>
                                <div class="form-group mb-3">
                                    <label for="sketchfab_link">[[#{link_to_3d}]]:</label>
                                    <input type="text" class="form-control" id="sketchfab_link" name="sketchfab_link" required
                                           th:field="*{sketchfab_link}">
                                </div>
                                <div class="form-group mb-3">
                                    <label for="status" class="form-label">[[#{status}]]:</label>
                                    <select name="status" id="status" class="form-control" required>
                                        <option value="Отличное">Отличное</option>
                                        <option value="Хорошее">Хорошее</option>
                                        <option value="Среднее">Среднее</option>
                                    </select>
                                </div>
                                <div class="form-group mb-3">
                                    <label for="images" class="form-label">[[#{images}]]:</label>
                                    <input type="file" class="form-control" id="images" name="images" multiple>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </section>
</main>
<footer th:insert="fragments/main.html :: footer"></footer>
<a href="#" class="scroll-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>
<div id="preloader"></div>
</body>
</html>
