<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:insert="fragments/main.html :: head"><title>Creating hostel</title></head>
<body>
<header th:insert="fragments/main.html :: header"></header>
<main id="main">
    <!-- ======= Breadcrumbs ======= -->
    <div class="breadcrumbs">
        <div class="container">
        </div>
    </div><!-- End Breadcrumbs -->
    <section class="inner-page">
        <div class="container" data-aos="fade-up">
            <div class="row">
                <div class="col-6 offset-3">
                    <h1>Hostel</h1>
                    <form action="/hostels/new" method="post" enctype="multipart/form-data" th:object="${hostel}">
                        <div class="form-group mb-3">
                            <label for="name">Name:</label>
                            <input type="text" class="form-control" id="name" name="name" required th:field="*{name}">
                        </div>
                        <div class="form-group mb-3">
                            <label for="address">Address:</label>
                            <input type="text" class="form-control" id="address" name="address" required
                                   th:field="*{address}">
                        </div>
                        <div class="form-group mb-3">
                            <label for="numberOfBeds">Number of Beds:</label>
                            <input type="number" class="form-control" id="numberOfBeds" name="numberOfBeds" required
                                   th:field="*{numberOfBeds}">
                        </div>
                        <div class="form-group mb-3">
                            <label for="pricePerDay">Price per Day:</label>
                            <input type="number" class="form-control" id="pricePerDay" name="pricePerDay" required
                                   th:field="*{pricePerDay}">
                        </div>
                        <div class="form-group mb-3">
                            <label for="pricePerMonth">Price per Month:</label>
                            <input type="number" class="form-control" id="pricePerMonth" name="pricePerMonth" required
                                   th:field="*{pricePerMonth}">
                        </div>
                        <div class="form-group mb-3">
                            <label for="discount">Discount:</label>
                            <input type="number" class="form-control" id="discount" name="discount" required
                                   th:field="*{discount}">
                        </div>
                        <div class="form-group mb-3">
                            <label for="discount">Description:</label>
                            <input type="text" class="form-control" id="description" name="description" required
                                   th:field="*{description}">
                        </div>
                        <div class="form-group mb-3">
                            <label for="status" class="form-label">Состояние:</label>
                            <select name="status" id="status" class="form-control" required>
                                <option value="Excellent">Отличное</option>
                                <option value="Good">Хорошее</option>
                                <option value="Not bad">Среднее</option>
                            </select>
                        </div>
                        <div class="form-group mb-3">
                            <label for="images" class="form-label">Images:</label>
                            <input type="file" class="form-control" id="images" name="images" multiple>
                        </div>
                        <button type="submit" class="btn btn-primary">Save</button>
                    </form>
                </div>
            </div>
        </div>
    </section>
</main>
<footer th:insert="fragments/main.html :: footer"></footer>
<a href="#" class="scroll-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>
<div id="preloader"></div>
</body>
</html>
