<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>User</title>
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.1.3/css/bootstrap.min.css">
</head>
<body>
<div class="container">
    <h1 class="my-5" th:text="${user.fio}"></h1>
    <p>ID: <span th:text="${user.id}"></span></p>
    <p>Email: <span th:text="${user.role.name}"></span></p>
    <p>Phone: <span th:text="${user.phone}"></span></p>
    <a class="btn btn-primary" href="/users">Back to Users</a>
</div>
<!-- Bootstrap JS -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.1.3/js/bootstrap.bundle.min.js"></script>
</body>
</html>
