<!DOCTYPE html>
<html lang="en">
<head th:insert="fragments/main.html :: head"><title>Contact Us</title></head>
<body>
<header th:insert="fragments/main.html :: header"></header>
<main id="main">
    <!-- ======= Breadcrumbs ======= -->
    <div class="breadcrumbs">
        <div class="container">
            <div class="d-flex justify-content-center align-items-center">
                <h2>[[#{contact}]]</h2>
            </div>
        </div>
    </div><!-- End Breadcrumbs -->
    <!-- ======= Contact Section ======= -->
    <section id="contact" class="contact">
        <div class="container">
            <div class="row gy-5 gx-lg-5">

                <div class="col-lg-4">
                    <div class="info">
                        <h3>[[#{get_in_touch}]]</h3>
                        <br>
                        <div class="info-item d-flex">
                            <i class="bi bi-geo-alt flex-shrink-0"></i>
                            <div>
                                <h4>[[#{address1}]]:</h4>
                                <p>[[#{address}]]</p>
                            </div>
                        </div><!-- End Info Item -->

                        <div class="info-item d-flex">
                            <i class="bi bi-envelope flex-shrink-0"></i>
                            <div>
                                <h4>[[#{email}]]:</h4>
                                <p>info@hostelbooking.com</p>
                            </div>
                        </div><!-- End Info Item -->

                        <div class="info-item d-flex">
                            <i class="bi bi-phone flex-shrink-0"></i>
                            <div>
                                <h4>[[#{phone_number}]]:</h4>
                                <p>+7 7172 777 9797</p>
                            </div>
                        </div><!-- End Info Item -->

                    </div>

                </div>

                <div class="col-lg-8">
                    <div class="map">
                        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2505.9543937577096!2d71.41574797637477!3d51.09084917172157!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x424585a605525605%3A0x4dff4a1973f7567e!2sAstana%20IT%20University!5e0!3m2!1sru!2skz!4v1683315650104!5m2!1sru!2skz"></iframe>
                    </div><!-- End Google Maps -->
                </div>

            </div>

        </div>
    </section><!-- End Contact Section -->
</main>
<footer th:insert="fragments/main.html :: footer"></footer>
<a href="#" class="scroll-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>
<div id="preloader"></div>
</body>
</html>