<!DOCTYPE html>
<html lang="en">
<head th:insert="fragments/main.html :: head"><title>Home page</title></head>
<body>
<header th:insert="fragments/main.html :: header"></header>
<!--<div th:insert="fragments/main.html :: hostelstable"></div>-->
<main th:insert="fragments/main.html :: main"></main>
<footer th:insert="fragments/main.html :: footer"></footer>
<a href="#" class="scroll-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>
<div id="preloader"></div>
</body>
</html>
