<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
<div class="sketchfab-embed-wrapper">
    <iframe title="(FREE) 1972 Datsun 240k GT" frameborder="0" allowfullscreen mozallowfullscreen="true"
            webkitallowfullscreen="true" allow="autoplay; fullscreen; xr-spatial-tracking" xr-spatial-tracking
            execution-while-out-of-viewport execution-while-not-rendered web-share width="400" height="200"
            src="https://sketchfab.com/models/b2303a552b444e5b8637fdf5169b41cb/embed?autostart=1&preload=1&transparent=1&ui_infos=0&ui_watermark_link=0&ui_watermark=0&ui_theme=dark"></iframe>
</div>
<div class="sketchfab-embed-wrapper">
    <iframe title="Fairy Hostel" frameborder="0" allowfullscreen mozallowfullscreen="true" webkitallowfullscreen="true"
            allow="autoplay; fullscreen; xr-spatial-tracking" xr-spatial-tracking execution-while-out-of-viewport
            execution-while-not-rendered web-share  width="400" height="200"
            src="https://sketchfab.com/models/af52c9f139a348f59874dc92fa0cb83d/embed?autostart=1"></iframe></div>
</body>
</html>