<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Roles</title>
</head>
<body>
<h1>Roles</h1>
<table>
    <thead>
    <tr>
        <th>ID</th>
        <th>Name</th>
        <th>Action</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="role : ${roles}">
        <td th:text="${role.id}"></td>
        <td th:text="${role.name}"></td>
        <td>
            <a th:href="@{/roles/{id}(id=${role.id})}">View</a>
        </td>
    </tr>
    </tbody>
</table>
<a href="/roles/new">Create New Role</a>
</body>
</html>
